html,
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    min-height: 100vh;
    background: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #80CBC4;
    text-decoration: underline;
}

h1 {
    font-size: 16px;
    color: #80CBC4;
}

h2 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#wrapper {
    min-height: 100vh;
    height: auto !important;
    height: 100vh;
    /* -50px for the header */
    margin: 0 auto -50px;
    position: relative
}

header {
    /* total height is height + top/bottom paddding + top/bottom border */
    height: 32px;
    padding-left: 20px;
    padding-top: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    background-color: #80CBC4;
    text-align: left;
    color: white;
    font-size: 18pt;
    font-weight: normal;
}

nav {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 0px;
    position: absolute;
    right: 0;
    top: 0;
}

.btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

.btn:hover {
    text-decoration: none;
}

nav .btn {
    color: white;
    background: #80CBC4;
    border: solid white 1px;
}

nav .btn:hover {
    color: #80CBC4;
    background: white;
    border: solid white 1px;
}

aside {
    background-color: white;
    width: 360px;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0px;
    padding: 20px;
    overflow-x: auto
}

aside #form {
    width: 360px;
    overflow: hidden;
}

aside select,
aside input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    border: solid #80CBC4 1px;
    height: 34px;
    background-color: white;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 0px;
}

aside #Hours, aside #Meridiems, aside #datepicker {
    width: 31.45%;
}

aside #datepicker {
    padding-bottom: 4px;
    margin-right: 10px;
}

aside #Hours, aside #Meridiems {
    margin-right: 10px;
}

aside #Meridiems {
    margin-right: 0px;
}

aside .btn {
    color: #80CBC4;
    background: white;
    border: solid #80CBC4 1px;
    float: right;
}

aside .btn:hover {
    color: white;
    background: #80CBC4;
    border: solid #80CBC4 1px;
}

#building_recommendation {
    font-size: 14px;
    padding-bottom: 10px;
}

#building_recommendation a {
    margin-right: 10px;
}

.parking_option {
    margin-top: 5px;
    overflow: hidden;
}

.parking_option .parking_lot {
    overflow: hidden;
}

.parking_option .parking_lot .title {
    float: left;
}

.parking_option .parking_lot .icons {
    float: right;
}

.parking_option .time .to_parking_lot {
    float: left;
}

.parking_option .time .to_building {
    float: right;
}

#legend {
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

#time_icons {
   overflow: hidden;
   text-align: center;
   vertical-align: middle;
}

#properties_icons {
   overflow: hidden;
   text-align: center;
   vertical-align: middle;
}

#parking_lot_icon {
    float: left;
}

#building_icon {
    float: left;
}

#well_lit_icon {
    float: left;
}

#easy_exit_icon {
    float: left;
}

#easy_parking_icon {
    float: right;
}

section {
    margin-left: 400px
}

#map {
    position: absolute;
    background-color: white;
    margin: 0px;
    padding: 0px;
    /* height of the header */
    top: 50px;
    /* width of the side bar */
    left: 400px;
    right: 0;
    bottom: 0;
}

.imgCenter {
    display: block;
    margin: 0 auto;
    padding: 8px;
}

.BigButton {
    background-color: transparent;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: bold;
}

.BigButton:hover {
    background-color: #CCCC99;
}

.BigButton:active {
    position: relative;
    top: 1px;
}

.BigSelect {
    border-radius: 3px;
    overflow: hidden;
    background: #FFFFFF;
    font-size: 20px;
    width: 360px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.BigSelect select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.BigSelect select:focus {
    outline: none;
}

.BigInput {
    height: 30px;
    width: 80px;
    font-size: 28px
}
