html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    height: 100vh;
}
#wrapper {
    min-height: 100vh;
    height: auto !important;
    height: 100vh;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
    position: relative
}
.push {
    height: 50px;
    clear: both;
}

#header {
    height: 50px;
}
#header-content {
    background-color: red;
    height: 33px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 8px;
}
#content {
    height: 100%;
}
#sidebar {
    background-color: skyblue;
    width: 300px;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0px;
}
#main {
    margin-left: 102px
}

